{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
       //   "ie 11"
        ]
      }
    ],
    ["minify",
      {
        "evaluate": false,
        "builtIns": false
      }
    ]
  ]
}
